/* Deep sea glow */
:root {
  --color-base-font: #e0ffff;
  --color-base-background: #001020;
  --color-btn-background: linear-gradient(135deg, #002040, #00ffaa);
  --color-btn-font: #ffffff;
  --color-search-background: #003060;
  --color-search-border: #002040;
  --color-result-background: #003060;
  --color-result-border: #00ff00;
  --color-result-title-font: #002040;
  --color-result-url-font: #00aaff;
}
