/* Cyberpunk 2077 */
:root {
  --color-base-font: #e0e0e0;
  --color-base-background: #0f0f0f;
  --color-btn-background: linear-gradient(135deg, #1a1a1a, #fcee0a);
  --color-btn-font: #ffffff;
  --color-search-background: #ff003c;
  --color-search-border: #1a1a1a;
  --color-result-background: #ff003c;
  --color-result-border: #333333;
  --color-result-title-font: #1a1a1a;
  --color-result-url-font: #fcee0a;
}
