/* Victorian industrial */
:root {
  --color-base-font: #d4a574;
  --color-base-background: #2c1810;
  --color-btn-background: linear-gradient(135deg, #3d2317, #d4a574);
  --color-btn-font: #ffffff;
  --color-search-background: #5c3a28;
  --color-search-border: #3d2317;
  --color-result-background: #5c3a28;
  --color-result-border: #e8c39e;
  --color-result-title-font: #3d2317;
  --color-result-url-font: ;
}
