:root.theme-everforest {
  --color-base-font: #D3C6AA;
  --color-base-background: #2D353B;
  --color-base-background-mobile: #2D353B;
  --color-url-font: #7FBBB3;
  --color-url-visited-font: #D699B6;
  --color-header-background: #343F44;
  --color-header-border: #475258;
  --color-footer-background: #343F44;
  --color-footer-border: #475258;
  --color-sidebar-border: #475258;
  --color-sidebar-font: #D3C6AA;
  --color-sidebar-background: #2D353B;
  --color-backtotop-font: #859289;
  --color-backtotop-border: #475258;
  --color-backtotop-background: #3D484D;
  --color-btn-background: #7FBBB3;
  --color-btn-font: #2D353B;
  --color-show-btn-background: #475258;
  --color-show-btn-font: #D3C6AA;
  --color-search-border: #475258;
  --color-search-shadow: 0 2px 8px #232A2E;
  --color-search-background: #3D484D;
  --color-search-font: #D3C6AA;
  --color-search-background-hover: #A7C080;
  --color-error: #E67E80;
  --color-error-background: #514045;
  --color-warning: #DBBC7F;
  --color-warning-background: #4D4C43;
  --color-success: #A7C080;
  --color-success-background: #425047;
  --color-categories-item-selected-font: #7FBBB3;
  --color-categories-item-border-selected: #7FBBB3;
  --color-autocomplete-font: #D3C6AA;
  --color-autocomplete-border: #475258;
  --color-autocomplete-shadow: 0 2px 8px #232A2E;
  --color-autocomplete-background: #3D484D;
  --color-autocomplete-background-hover: #475258;
  --color-answer-font: #D3C6AA;
  --color-answer-background: #343F44;
  --color-result-background: #343F44;
  --color-result-border: #475258;
  --color-result-url-font: #859289;
  --color-result-vim-selected: #3D484D;
  --color-result-vim-arrow: #7FBBB3;
  --color-result-description-highlight-font: #D3C6AA;
  --color-result-link-font: #7FBBB3;
  --color-result-link-font-highlight: #7FBBB3;
  --color-result-link-visited-font: #D699B6;
  --color-result-publishdate-font: #7A8478;
  --color-result-engines-font: #7A8478;
  --color-result-search-url-border: #475258;
  --color-result-search-url-font: #D3C6AA;
  --color-result-detail-font: #D3C6AA;
  --color-result-detail-label-font: #859289;
  --color-result-detail-background: #2D353B;
  --color-result-detail-hr: #2D353B;
  --color-result-detail-link: #7FBBB3;
  --color-result-detail-loader-border: rgba(255, 255, 255, 0.2);
  --color-result-detail-loader-borderleft: #232A2E;
  --color-result-image-span-font: #D3C6AA;
  --color-result-image-span-font-selected: #2D353B;
  --color-result-image-background: #343F44;
  --color-settings-tr-hover: #3D484D;
  --color-settings-engine-description-font: #D3C6AA;
  --color-settings-engine-group-background: #3D484D;
  --color-toolkit-badge-font: #D3C6AA;
  --color-toolkit-badge-background: #3D484D;
  --color-toolkit-kbd-font: #D3C6AA;
  --color-toolkit-kbd-background: #343F44;
  --color-toolkit-dialog-border: #343F44;
  --color-toolkit-dialog-background: #343F44;
  --color-toolkit-tabs-label-border: #2D353B;
  --color-toolkit-tabs-section-border: #2D353B;
  --color-toolkit-select-background: #3D484D;
  --color-toolkit-select-border: #3D484D;
  --color-toolkit-select-background-hover: #475258;
  --color-toolkit-input-text-font: #D3C6AA;
  --color-toolkit-checkbox-onoff-off-background: #3D484D;
  --color-toolkit-checkbox-onoff-on-background: #3D484D;
  --color-toolkit-checkbox-onoff-on-mark-background: #7FBBB3;
  --color-toolkit-checkbox-onoff-on-mark-color: #2D353B;
  --color-toolkit-checkbox-onoff-off-mark-background: #ddd;
  --color-toolkit-checkbox-onoff-off-mark-color: #222;
  --color-toolkit-checkbox-label-background: #2D353B;
  --color-toolkit-checkbox-label-border: #343F44;
  --color-toolkit-checkbox-input-border: #7FBBB3;
  --color-toolkit-engine-tooltip-border: #3D484D;
  --color-toolkit-engine-tooltip-background: #3D484D;
  --color-toolkit-loader-border: rgba(255, 255, 255, 0.2);
  --color-toolkit-loader-borderleft: #232A2E;
  --color-doc-code: #E69875;
  --color-doc-code-background: #343F44;
  --color-favicon-background-color: #ddd;
  --color-favicon-border-color: #ccc;
  --color-image-resolution-background: rgba(0, 0, 0, 0.5);
  --color-image-resolution-font: #D3C6AA;
  --color-loading-indicator: rgba(0, 0, 0, 0.2);
  --color-loading-indicator-gap: #D3C6AA;
  --color-line-number: #7A8478;
  --color-logo-fill: #7FBBB3;
}
