:root.theme-evergarden {
  --var-color-fall-red: #f57f82;
  --var-color-fall-orange: #f7a182;
  --var-color-fall-yellow: #f5d098;
  --var-color-fall-lime: #dbe6af;
  --var-color-fall-green: #cbe3b3;
  --var-color-fall-aqua: #b3e3ca;
  --var-color-fall-skye: #b3e6db;
  --var-color-fall-snow: #afd9e6;
  --var-color-fall-blue: #b2caed;
  --var-color-fall-purple: #d2bdf3;
  --var-color-fall-pink: #f3c0e5;
  --var-color-fall-cherry: #fae6ef;
  --var-color-fall-text: #f8f9e8;
  --var-color-fall-subtext1: #acc2d2;
  --var-color-fall-subtext0: #95afbe;
  --var-color-fall-overlay2: #829aab;
  --var-color-fall-overlay1: #6e8591;
  --var-color-fall-overlay0: #58686d;
  --var-color-fall-surface2: #4a585c;
  --var-color-fall-surface1: #374145;
  --var-color-fall-surface0: #2b3337;
  --var-color-fall-base: #232a2e;
  --var-color-fall-mantle: #1c2225;
  --var-color-fall-crust: #171c1f;
  --color-base-font: #f8f9e8;
  --color-base-background: #2b3337;
  --color-base-background-mobile: #2b3337;
  --color-url-font: #b2caed;
  --color-url-visited-font: #d2bdf3;
  --color-header-background: #232a2e;
  --color-header-border: #4a585c;
  --color-footer-background: #2b3337;
  --color-footer-border: #4a585c;
  --color-sidebar-border: #4a585c;
  --color-sidebar-font: #f8f9e8;
  --color-sidebar-background: #232a2e;
  --color-backtotop-font: #acc2d2;
  --color-backtotop-border: #4a585c;
  --color-backtotop-background: #374145;
  --color-btn-background: #b2caed;
  --color-btn-font: #232a2e;
  --color-show-btn-background: #4a585c;
  --color-show-btn-font: #f8f9e8;
  --color-search-border: transparent;
  --color-search-shadow: none;
  --color-search-background: #374145;
  --color-search-font: #f8f9e8;
  --color-search-background-hover: #b2caed;
  --color-error: #f57f82;
  --color-error-background: #49393d;
  --color-warning: #f5d098;
  --color-warning-background: #494841;
  --color-success: #dbe6af;
  --color-success-background: #444c45;
  --color-categories-item-selected-font: #b2caed;
  --color-categories-item-border-selected: #b2caed;
  --color-autocomplete-font: #f8f9e8;
  --color-autocomplete-border: #4a585c;
  --color-autocomplete-shadow: 0 2px 8px #171c1f;
  --color-autocomplete-background: #374145;
  --color-autocomplete-background-hover: #4a585c;
  --color-answer-font: #f8f9e8;
  --color-answer-background: #2b3337;
  --color-result-background: #232a2e;
  --color-result-border: #4a585c;
  --color-result-url-font: #b2caed;
  --color-result-vim-selected: #374145;
  --color-result-vim-arrow: #b2caed;
  --color-result-description-highlight-font: #f8f9e8;
  --color-result-link-font: #f8f9e8;
  --color-result-link-font-highlight: #f8f9e8;
  --color-result-link-visited-font: #d2bdf3;
  --color-result-publishdate-font: #829aab;
  --color-result-engines-font: #829aab;
  --color-result-search-url-border: #4a585c;
  --color-result-search-url-font: #f8f9e8;
  --color-result-detail-font: #f8f9e8;
  --color-result-detail-label-font: #acc2d2;
  --color-result-detail-background: #232a2e;
  --color-result-detail-hr: #2b3337;
  --color-result-detail-link: #b2caed;
  --color-result-detail-loader-border: rgba(255, 255, 255, 0.2);
  --color-result-detail-loader-borderleft: #171c1f;
  --color-result-image-span-font: #f8f9e8;
  --color-result-image-span-font-selected: #232a2e;
  --color-result-image-background: #2b3337;
  --color-settings-tr-hover: #374145;
  --color-settings-engine-description-font: #f8f9e8;
  --color-settings-engine-group-background: #374145;
  --color-toolkit-badge-font: #f8f9e8;
  --color-toolkit-badge-background: #374145;
  --color-toolkit-kbd-font: #f8f9e8;
  --color-toolkit-kbd-background: #2b3337;
  --color-toolkit-dialog-border: #374145;
  --color-toolkit-dialog-background: #2b3337;
  --color-toolkit-tabs-label-border: #232a2e;
  --color-toolkit-tabs-section-border: #232a2e;
  --color-toolkit-select-background: #374145;
  --color-toolkit-select-border: #4a585c;
  --color-toolkit-select-background-hover: #4a585c;
  --color-toolkit-input-text-font: #f8f9e8;
  --color-toolkit-checkbox-onoff-off-background: #374145;
  --color-toolkit-checkbox-onoff-on-background: #374145;
  --color-toolkit-checkbox-onoff-on-mark-background: #b2caed;
  --color-toolkit-checkbox-onoff-on-mark-color: #232a2e;
  --color-toolkit-checkbox-onoff-off-mark-background: #95afbe;
  --color-toolkit-checkbox-onoff-off-mark-color: #232a2e;
  --color-toolkit-checkbox-label-background: #232a2e;
  --color-toolkit-checkbox-label-border: #2b3337;
  --color-toolkit-checkbox-input-border: #b2caed;
  --color-toolkit-engine-tooltip-border: #4a585c;
  --color-toolkit-engine-tooltip-background: #374145;
  --color-toolkit-loader-border: rgba(255, 255, 255, 0.2);
  --color-toolkit-loader-borderleft: #171c1f;
  --color-doc-code: #f5d098;
  --color-doc-code-background: #2b3337;
  --color-favicon-background-color: #4a585c;
  --color-favicon-border-color: #58686d;
  --color-image-resolution-background: rgba(0, 0, 0, 0.5);
  --color-image-resolution-font: #f8f9e8;
  --color-loading-indicator: rgba(0, 0, 0, 0.2);
  --color-loading-indicator-gap: #f8f9e8;
  --color-line-number: #6e8591;
  --color-logo-fill: #b2caed;
}
