/* Frappe - Playful tones */
:root {
  --color-base-font: #c6d0f4;
  --color-base-background: #303446;
  --color-btn-background: linear-gradient(135deg, #ca9ee6, #f5c2e7);
  --color-btn-font: #303446;
  --color-search-background: #232634;
  --color-search-border: #8c8fa3;
  --color-result-background: #232634;
  --color-result-border: #414559;
  --color-result-title-font: #8bd5ca;
  --color-result-url-font: #8aadf4;
}
