:root.theme-gruvboxmat {
  --color-base-font: #d4be98;
  --color-base-font-rgb: 212, 190, 152;
  --color-base-background: #292828;
  --color-base-background-mobile: #292828;
  --color-url-font: #89b482;
  --color-url-visited-font: #d3869b;
  --color-header-background: #32302f;
  --color-header-border: #504945;
  --color-footer-background: #1d2021;
  --color-footer-border: #d3869b;
  --color-sidebar-border: #89b482;
  --color-sidebar-font: #d4be98;
  --color-sidebar-background: #32302f;
  --color-backtotop-font: #d4be98;
  --color-backtotop-border: #504945;
  --color-backtotop-background: #32302f;
  --color-btn-background: #89b482;
  --color-btn-font: #1d2021;
  --color-show-btn-background: #3c3836;
  --color-show-btn-font: #d4be98;
  --color-search-border: transparent;
  --color-search-shadow: 0 2px 8px rgba(40, 40, 40, 0.25);
  --color-search-background: #1d2021;
  --color-search-font: #d4be98;
  --color-search-background-hover: #458588;
  --color-error: #cc241d;
  --color-error-background: #3c3836;
  --color-warning: #d8a657;
  --color-warning-background: #3c3836;
  --color-success: #89b482;
  --color-success-background: #3b4439;
  --color-categories-item-selected-font: #89b482;
  --color-categories-item-border-selected: #89b482;
  --color-autocomplete-font: #d4be98;
  --color-autocomplete-border: #d3869b;
  --color-autocomplete-shadow: 0 2px 8px rgba(40, 40, 40, 0.6);
  --color-autocomplete-background: #504945;
  --color-autocomplete-background-hover: #3c3836;
  --color-answer-font: #d4be98;
  --color-answer-background: #32302f;
  --color-result-keyvalue-col-table: #89b482;
  --color-result-keyvalue-odd: #d3869b;
  --color-result-keyvalue-even: #89b482;
  --color-result-background: #32302f;
  --color-result-border: #504945;
  --color-result-url-font: #d4be98;
  --color-result-vim-selected: #4e422ecc;
  --color-result-vim-arrow: #89b482;
  --color-result-description-highlight-font: #89b482;
  --color-result-link-font: #89b482;
  --color-result-link-font-highlight: #89b482;
  --color-result-link-visited-font: #d3869b;
  --color-result-publishdate-font: #7c6f64;
  --color-result-engines-font: #7c6f64;
  --color-result-search-url-border: #504945;
  --color-result-search-url-font: #d4be98;
  --color-result-detail-font: #d4be98;
  --color-result-detail-label-font: #d4be98;
  --color-result-detail-background: #32302f;
  --color-result-detail-hr: #89b482;
  --color-result-detail-link: #89b482;
  --color-result-detail-loader-border: rgba(0, 0, 0, 0.2);
  --color-result-detail-loader-borderleft: rgba(0, 0, 0, 0);
  --color-result-image-span-font: #d4be98;
  --color-result-image-span-font-selected: #ddc7a1;
  --color-result-image-background: #4e422e;
  --color-settings-tr-hover: #504945;
  --color-settings-engine-description-font: #d4be98;
  --color-settings-engine-group-background: #292828;
  --color-settings-table-group-background: #292828;
  --color-toolkit-badge-font: #ebdbb2;
  --color-toolkit-badge-background: #32302f;
  --color-toolkit-kbd-font: #ebdbb2;
  --color-toolkit-kbd-background: #1d2021;
  --color-toolkit-dialog-border: #89b482;
  --color-toolkit-dialog-background: #32302f;
  --color-toolkit-tabs-label-border: #504945;
  --color-toolkit-tabs-section-border: #89b482;
  --color-toolkit-select-background: #32302f;
  --color-toolkit-select-border: #504945;
  --color-toolkit-select-background-hover: #3c3836;
  --color-toolkit-input-text-font: #ebdbb2;
  --color-toolkit-checkbox-onoff-off-background: #3f2120;
  --color-toolkit-checkbox-onoff-on-background: #33381b;
  --color-toolkit-checkbox-onoff-on-mark-background: #89b482;
  --color-toolkit-checkbox-onoff-on-mark-color: #1d2021;
  --color-toolkit-checkbox-onoff-off-mark-background: #cc241d;
  --color-toolkit-checkbox-onoff-off-mark-color: #1d2021;
  --color-toolkit-checkbox-label-background: #89b482;
  --color-toolkit-checkbox-label-border: #504945;
  --color-toolkit-checkbox-input-border: #89b482;
  --color-toolkit-engine-tooltip-border: #504945;
  --color-toolkit-engine-tooltip-background: #3c3836;
  --color-toolkit-loader-border: rgba(0, 0, 0, 0.2);
  --color-toolkit-loader-borderleft: rgba(0, 0, 0, 0);
  --color-doc-code: #ebdbb2;
  --color-doc-code-background: #3c3836;
  --color-favicon-background-color: #ddd;
  --color-favicon-border-color: #ccc;
  --color-image-resolution-background: rgba(0, 0, 0, 0.5);
  --color-image-resolution-font: #d4be98;
  --color-loading-indicator: rgba(0, 0, 0, 0.2);
  --color-loading-indicator-gap: #d4be98;
  --color-line-number: #7c6f64;
  --color-logo-fill: #89b482;
}
