/* Latte - Light cream */
:root {
  --color-base-font: #4c4f69;
  --color-base-background: #eff1f5;
  --color-btn-background: linear-gradient(135deg, #ea76c4, #8839ef);
  --color-btn-font: #ffffff;
  --color-search-background: #ffffff;
  --color-search-border: #04a5e5;
  --color-result-background: #ffffff;
  --color-result-border: #ccd0da;
  --color-result-title-font: #1e1e2e;
  --color-result-url-font: #04a5e5;
}
