:root.theme-matcha {
  --color-base-font: #ccd7d4;
  --color-base-background: #1b2224;
  --color-base-background-mobile: #1b2224;
  --color-url-font: #ccd7d4;
  --color-url-visited-font: #2eb398;
  --color-header-background: #171d1f;
  --color-header-border: #222b2e;
  --color-footer-background: #171d1f;
  --color-footer-border: #222b2e;
  --color-sidebar-border: #222b2e;
  --color-sidebar-font: #ccd7d4;
  --color-sidebar-background: #1b2224;
  --color-backtotop-font: #abb9b6;
  --color-backtotop-border: #222b2e;
  --color-backtotop-background: #303b3e;
  --color-btn-background: #2eb398;
  --color-btn-font: #1b2224;
  --color-show-btn-background: #222b2e;
  --color-show-btn-font: #ccd7d4;
  --color-search-border: #222b2e;
  --color-search-shadow: 0 2px 8px #1b2224;
  --color-search-background: #222b2e;
  --color-search-font: #ccd7d4;
  --color-search-background-hover: #2eb398;
  --color-error: #FC4138;
  --color-error-background: #222b2e;
  --color-warning: #F27835;
  --color-warning-background: #222b2e;
  --color-success: #2eb398;
  --color-success-background: #222b2e;
  --color-categories-item-selected-font: #2eb398;
  --color-categories-item-border-selected: #2eb398;
  --color-autocomplete-font: #abb9b6;
  --color-autocomplete-border: #222b2e;
  --color-autocomplete-shadow: 0 2px 8px #1b2224;
  --color-autocomplete-background: #222b2e;
  --color-autocomplete-background-hover: #171d1f;
  --color-answer-font: #ccd7d4;
  --color-answer-background: #171d1f;
  --color-result-background: #171d1f;
  --color-result-border: #222b2e;
  --color-result-url-font: #abb9b6;
  --color-result-vim-selected: #303b3e;
  --color-result-vim-arrow: #2eb398;
  --color-result-description-highlight-font: #ccd7d4;
  --color-result-link-font: #ccd7d4;
  --color-result-link-font-highlight: #ccd7d4;
  --color-result-link-visited-font: #2eb398;
  --color-result-publishdate-font: #303b3e;
  --color-result-engines-font: #303b3e;
  --color-result-search-url-border: #222b2e;
  --color-result-search-url-font: #ccd7d4;
  --color-result-detail-font: #ccd7d4;
  --color-result-detail-label-font: #c7d0ce;
  --color-result-detail-background: #1b2224;
  --color-result-detail-hr: #1b2224;
  --color-result-detail-link: #2eb398;
  --color-result-detail-loader-border: rgba(255, 255, 255, 0.2);
  --color-result-detail-loader-borderleft: #1b2224;
  --color-result-image-span-font: #ccd7d4;
  --color-result-image-span-font-selected: #ccd7d4;
  --color-result-image-background: #171d1f;
  --color-settings-tr-hover: #303b3e;
  --color-settings-engine-description-font: #ccd7d4;
  --color-settings-engine-group-background: #303b3e;
  --color-toolkit-badge-font: #ccd7d4;
  --color-toolkit-badge-background: #303b3e;
  --color-toolkit-kbd-font: #ccd7d4;
  --color-toolkit-kbd-background: #171d1f;
  --color-toolkit-dialog-border: #171d1f;
  --color-toolkit-dialog-background: #171d1f;
  --color-toolkit-tabs-label-border: #1b2224;
  --color-toolkit-tabs-section-border: #1b2224;
  --color-toolkit-select-background: #303b3e;
  --color-toolkit-select-border: #303b3e;
  --color-toolkit-select-background-hover: #222b2e;
  --color-toolkit-input-text-font: #ccd7d4;
  --color-toolkit-checkbox-onoff-off-background: #303b3e;
  --color-toolkit-checkbox-onoff-on-background: #303b3e;
  --color-toolkit-checkbox-onoff-on-mark-background: #2eb398;
  --color-toolkit-checkbox-onoff-on-mark-color: #1b2224;
  --color-toolkit-checkbox-onoff-off-mark-background: #ddd;
  --color-toolkit-checkbox-onoff-off-mark-color: #222;
  --color-toolkit-checkbox-label-background: #1b2224;
  --color-toolkit-checkbox-label-border: #171d1f;
  --color-toolkit-checkbox-input-border: #2eb398;
  --color-toolkit-engine-tooltip-border: #303b3e;
  --color-toolkit-engine-tooltip-background: #303b3e;
  --color-toolkit-loader-border: rgba(255, 255, 255, 0.2);
  --color-toolkit-loader-borderleft: #1b2224;
  --color-doc-code: #2eb398;
  --color-doc-code-background: #171d1f;
  --color-favicon-background-color: #ddd;
  --color-favicon-border-color: #ccc;
  --color-image-resolution-background: rgba(0, 0, 0, 0.5);
  --color-image-resolution-font: #ccd7d4;
  --color-loading-indicator: rgba(0, 0, 0, 0.2);
  --color-loading-indicator-gap: #ccd7d4;
  --color-line-number: #303b3e;
  --color-logo-fill: #2eb398;
}
